@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --animate-float: float 10s infinite ease-in-out;

  @keyframes float {
    0%, 100% {
      transform: translateY(0) scale(1);
    }
    50% {
      transform: translateY(-20px) scale(1.05);
    }
  }
}

body {
  /* removed hardcoded colors to allow tailwind dark mode classes */
}
